<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop Prenotazioni - Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Barber Shop Prenotazioni - LogIn</h1>
        <form action="/login" method="post">
            <label for="name">Username:</label>
            <input type="username" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        {% block content %}
        {% include 'message.html' %}
        {% endblock %}
        <a href="/register" class="button">Registrati</a>
    </div>
</body>
</html>